@import "tailwindcss";

:root {
  --gold: #ffd700;
  --dark-bg: #111;
}

body {
  margin: 0;
  background-color: var(--dark-bg);
  font-family: 'Inter', sans-serif;
}

.text-gold {
  color: var(--gold);
}

.border-gold {
  border-color: var(--gold);
}